@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-small {
    @apply px-4 py-2 text-sm rounded shadow;
  }
  .btn {
    @apply px-6 py-3 rounded shadow;
  }
  .btn-black {
    @apply text-white bg-black;
  }
  .btn-primary {
    @apply bg-orange-500 text-orange-50;
  }

  .btn-outline-primary {
    @apply text-orange-500 bg-transparent border border-orange-500;
  }

  .btn-outline-secondary {
    @apply text-white bg-transparent border border-white;
  }

  .btn-white {
    @apply text-gray-800 bg-white;
  }
}

/* .swiper .swiper-slide {
  height: 400px;
} */

.brands.swiper {
  height: 220px;
}

.v-brands.swiper {
  height: 100%;
  width: 100%;
}

.szh-menu {
  @apply bg-white shadow rounded w-40;
}

.szh-menu__item {
  @apply pl-4;
}

.szh-menu__item:hover {
  @apply bg-orange-500 text-white;
}
